{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<br />
<h2 align="center">All posts</h2>
<br />
    <div class="list-group" id="posts">
        {% for post in posts %}
        <a class="list-group-item">
            <div class="d-flex w-100 justify-content-between align-self-start">
                <h5 class="mb-1">{{ post.title }}</h5>
                    <small>User id: {{ post.userid }}</small>
            </div>
            <p class="mb-1">{{ post.body }}</p><small>Post id: {{ post.id }}</small>
        </a>
        {% endfor %}
    </div>
{% endblock %}