{% extends "base.html" %}
{% block title %}
Search by id
{% endblock %}
{% block content %}
<form method="POST">
    <br />
    <h2 align="center">Search</h2>
    <div class="form-group">
        <h4>Search by user Id</h4>
        <br />
        <label for="userid">User Id</label>
        <input type="userid" class="form-control" id="userid" name="userid" placeholder="User Id"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if posts %}
    {% for post in posts %}
    <div class="list-group" id="posts">
    <a class="list-group-item">
        <div class="d-flex w-100 justify-content-between align-self-start">
            <h5 class="mb-1">{{ post.title }}</h5>
                <small>User id: {{ post.userid }}</small>
        </div>
        <p class="mb-1">{{ post.body }}</p><small>Post id: {{ post.id }}</small>
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}